<div class="dashboard-container">

  <!-- Première rangée -->
  <div class="row mb-4">
    <div class="col-4">
      <p-card>
        <h3 class="text-sm">Gains aujourd'hui</h3>
        <div class="flex flex-column align-items-center">
          <i class="pi pi-money-bill text-4xl icone mb-2 me-3"></i>
          <span class="text-xl font-bold me-1">{{ totalEarningsToday}} CFA</span>
        </div>
      </p-card>
    </div>
    <div class="col-4">
      <p-card>
        <h3 class="text-sm">Gains de la semaine</h3>
        <div class="flex flex-column align-items-center">
          <i class="pi pi-calendar text-4xl icone mb-2 me-3"></i>
          <span class="text-xl font-bold me-1">{{ totalEarningsWeek}} CFA</span>
        </div>
      </p-card>
    </div>
    <div class="col-4">
      <p-card>
        <h3 class="text-sm">Livraisons effectuées</h3>
        <div class="flex flex-column align-items-center">
          <i class="pi pi-check-circle text-4xl icone mb-2 me-3"></i>
          <span class="text-xl font-bold me-1">{{ completedDeliveries }}</span>
        </div>
      </p-card>
    </div>
  </div>


  <!-- Deuxième rangée -->
  <div class="chart-row">
    <div class="gauge-card">
      <h2>Montant Reçu</h2>
      <div class="gauge-container">
        <p-chart type="doughnut" [data]="gaugeData" [options]="gaugeOptions"
          [style]="{'width': '100%', 'height': '150px'}">
        </p-chart>
        <div class="gauge-value">
          <span class="money-label">Votre argent</span>
          <span class="money-value">25,430.39F CFA</span>
        </div>
      </div>
    </div>

    <div class="line-card">
      <div class="chart-header">
        <h5>Nombre de livraison effectuer</h5>
      </div>
      <div class="chart-stats">
        <div class="stat-value">
          <span class="number">623</span>
          <span class="label">nombre</span>
        </div>
      </div>
      <p-chart type="line" [data]="lineData" [options]="lineOptions" [style]="{'width': '100%', 'height': '300px'}">
      </p-chart>
    </div>
  </div>

</div>