<div class="container-fluid">
    <!-- Welcome Banner -->
    <div class="welcome-banner">
        <h1>Bienvenue, {{profilLivreur?.firstName}} {{profilLivreur?.lastName}}</h1>
        <p>Voici un aperçu de votre activité et des statistiques importantes.</p>
    </div>

    <div class="main-content">
        <div class="row">
            <!-- Quick Actions -->
            <div class="col-lg-8  quick-actions">
                <h2>Statistiques</h2>
                <div class="actions-grid">

                    <div class="action-item">
                        <a class="action-btn">
                            <i class="bi  bi-bag"></i>
                            <span class="count">{{totalEarningsToday}}</span>
                            <span class="label">Livraison en cours</span>
                        </a>
                    </div>

                    <div class="action-item">
                        <a class="action-btn">
                            <i class="pi pi-cart-arrow-down"></i>
                            <span class="count">{{totalEarningsWeek}}</span>
                            <span class="label">Livraison Terminer</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <!-- Revenue Card -->
                <div class="revenue-card">
                    <h2>Revenus mensuels</h2>
                    <div class="revenue-content">
                        <div class="revenue-icon">
                            <i class="pi pi-chart-line"></i>
                        </div>
                        <div class="revenue-details">
                            <!-- Affiche le dernier élément de statPayement -->
                            <div class="revenue-amount">{{ statPayement?.total_earnings }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>