<!-- --------les cartes gestion commerce-------- -->
<div class="container">
    <!-- recherche et bouton d'ajout -->
    <div class="search-add">
        <div class="srch">
            <input type="text" [(ngModel)]="searchText" (input)="onSearch()" placeholder="Recherche ...">
        </div>
        <div class="add" (click)="showDialogAddCommerce()">
            <button class="btn btnValidate"> <i class="pi pi-plus me-2"></i> Ajouter</button>
        </div>
    </div>
    <!-- fin -->
    <br>
    @if (isLoading) {
    <!-- Skeleton pendant le chargement -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @for (item of [1, 2, 3]; track $index) {
        <div class="col">
            <div class="card border-0 h-100">
                <!-- Skeleton pour l'image -->
                <p-skeleton width="100%" height="200px" class="card-img-top"></p-skeleton>
                <div class="card-body">
                    <!-- Skeleton pour le titre -->
                    <p-skeleton width="80%" height="1.5rem" class="mb-2"></p-skeleton><br>
                    <!-- Skeleton pour la description -->
                    <p-skeleton width="100%" height="0.6rem" class="mb-2 mt-2"></p-skeleton>
                    <p-skeleton width="100%" height="0.6rem" class="mb-2 mt-2"></p-skeleton>
                    <p-skeleton width="60%" height="0.6rem" class="mb-2"></p-skeleton>
                    <!-- Skeleton pour les icônes -->
                    <div class="icon-edit-delete d-flex mt-4">
                        <span><p-skeleton width="24px" height="24px" shape="circle" class="me-2"></p-skeleton></span>
                        <span><p-skeleton width="24px" height="24px" shape="circle" class="me-2"></p-skeleton></span>
                        <span><p-skeleton width="24px" height="24px" shape="circle"></p-skeleton></span>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>

    } @else {
    @if (listePartenaire.length) {
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let partenaire of getPaginatedPartners()">
            <div class="card border-0 h-100">
                <img src="https://kiccos.terangacode.com/public/{{partenaire.image}}" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title"><i> {{partenaire.nom_partenaire}}</i></h5>
                    <p class="card-text">
                        {{partenaire.description}}
                    </p>
                    <div class="icon-edit-delete">
                        <span (click)="showDialogUpdateCommerce(partenaire)"><a><i
                                    class="bi bi-pencil-square"></i></a></span>
                        <span (click)="suprimerPartenaire(partenaire.id)"><a><i class="bi bi-trash"></i></a></span>
                        <span (click)="showDialogDetailCommerce();detailPatenaire(partenaire.id)"><a><i
                                    class="bi bi-eye"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination mt-5 d-flex justify-content-center">
        <div>
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                [totalRecords]="listePartenaire.length" class="paginator" [styleClass]="'paginationTacheCustom'"
                [rowsPerPageOptions]="[3, 6, 9]">
            </p-paginator>
        </div>
    </div>
    } @else {
    <p class="text-center fs-5 fw-bold">Aucun Partenaire enregistré pour le moment </p>
    }}
    <!-- ---------fin des cartes------- -->
</div>


<!--Modal details partenaire -->
<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '60rem', height:'30rem', backgroundColor: '#F8F9FD'}"
    header="Détail commerce">
    <div id="details">
        <div class="image">
            <img src="https://kiccos.terangacode.com/public/{{DetailPartenaire?.image}}" class="card-img-top" alt="..." />
        </div>
        <div>
            <h4>{{DetailPartenaire?.nom_partenaire}}</h4>
            <p>
                {{DetailPartenaire?.description}}
            </p>

            <div class="d-flex">
                <h6 class="mb-3">Responsable : </h6>
                <span>&nbsp;{{DetailPartenaire?.user.firstName}} {{DetailPartenaire?.user.lastName}}</span>
            </div>
            <div class="d-flex">
                <h6 class="mb-3">Adresse : </h6>
                <span>&nbsp;{{DetailPartenaire?.localisation}}</span>
            </div>
            <div class="d-flex">
                <h6 class="mb-3">Horaire: </h6>
                <span>&nbsp;{{DetailPartenaire?.horaire}}</span>
            </div>
            <div class="d-flex">
                <h6 class="mb-3">Téléphone : </h6>
                <span>&nbsp;{{DetailPartenaire?.user.phoneNumber}}</span>
            </div>
            <div class="d-flex">
                <h6 class="mb-3">Statut : </h6>
                <span>&nbsp;{{DetailPartenaire?.etat}}</span>
            </div>

        </div>
    </div>


</p-dialog>

<!-- Modal ajout partenaire -->
<p-dialog [modal]="true" [(visible)]="visibleAddCommerce"
    [style]="{ width: '60rem', height:'50rem', backgroundColor: '#F8F9FD'}" header="Ajout partenaire">
    <form novalidate [formGroup]="PaternaireForm" #ngForm="ngForm" (ngSubmit)="addPartenaire()">
        <div class="contentInput">
            <div>
                <!-- Nom -->
                <div class="mb-2">
                    <label class="mb-1" for="name">Nom</label>
                    <input id="name" type="text" class="input-field" formControlName="lastName">
                    <p *ngIf="error" class="text-danger">{{error.lastName}}</p>
                    <div *ngIf="PaternaireForm.get('lastName')?.invalid && PaternaireForm.get('lastName')?.touched"
                        class="text-danger">
                        {{ PaternaireForm.get('lastName')?.errors?.['invalid'] ? 'Le nom est invalide.' : 'Le nom est
                        obligatoire.' }}
                    </div>
                </div>

                <!-- Nom établissement -->
                <div class="mb-2">
                    <label class="mb-1" for="nom_partenaire">Nom Etablissement</label>
                    <input id="nom_partenaire" type="text" class="input-field" formControlName="nom_partenaire">
                    <p *ngIf="error" class="text-danger">{{error.nom_partenaire}}</p>
                    <div *ngIf="PaternaireForm.get('nom_partenaire')?.invalid && PaternaireForm.get('nom_partenaire')?.touched"
                        class="text-danger">
                        {{ PaternaireForm.get('nom_partenaire')?.errors?.['invalid'] ? 'Le nom de l\'établissement est
                        invalide.' : 'Le nom de l\'établissement est obligatoire.' }}
                    </div>
                </div>

                <!-- Ninea -->
                <div class="mb-2">
                    <label for="ninea" class="mb-1">Ninea</label>
                    <input type="text" class="input-field" id="ninea" formControlName="ninea">
                    <p *ngIf="error" class="text-danger">{{error.ninea}}</p>
                    <div *ngIf="PaternaireForm.get('ninea')?.invalid && PaternaireForm.get('ninea')?.touched"
                        class="text-danger">
                        {{ PaternaireForm.get('ninea')?.errors?.['invalid'] ? 'Le NINEA doit contenir exactement 7
                        chiffres.' : 'Le NINEA est obligatoire.' }}
                    </div>
                </div>

                <!-- Horaire -->
                <div class="mb-2">
                    <label for="horaire" class="mb-1">Horaire</label>
                    <input type="text" class="input-field" id="horaire" formControlName="horaire" placeholder="ex: 9h-22h">
                    <p *ngIf="error" class="text-danger">{{error.horaire}}</p>
                    <div *ngIf="PaternaireForm.get('horaire')?.invalid && PaternaireForm.get('horaire')?.touched"
                        class="text-danger">
                        {{ PaternaireForm.get('horaire')?.errors?.['required'] ? 'L\'horaire est invalide .' : 'Le \n
                        format de l\'horaire est invalide (ex: 08h - 18h).' }}
                    </div>
                </div>

                <!-- Téléphone -->
                <div class="mb-2">
                    <label for="phoneNumber" class="mb-1">Téléphone</label>
                    <input type="tel" class="input-field" id="phoneNumber" formControlName="phoneNumber">
                    <p *ngIf="error" class="text-danger">{{error.phoneNumber}}</p>
                    <div *ngIf="PaternaireForm.get('phoneNumber')?.invalid && PaternaireForm.get('phoneNumber')?.touched"
                        class="text-danger">
                        {{ PaternaireForm.get('phoneNumber')?.errors?.['invalid'] ? 'Le numéro de téléphone doit
                        contenir exactement 13 chiffres.' : 'Le numéro de téléphone est obligatoire.' }}
                    </div>
                </div>
            </div>

            <div>
                <!-- Prénom -->
                <div class="mb-2">
                    <label for="firstName" class="mb-1">Prénom</label>
                    <input type="text" class="input-field" id="firstName" formControlName="firstName">
                    <p *ngIf="error" class="text-danger">{{error.firstName}}</p>
                    <div *ngIf="PaternaireForm.get('firstName')?.invalid && PaternaireForm.get('firstName')?.touched"
                        class="text-danger">
                        {{ PaternaireForm.get('firstName')?.errors?.['invalid'] ? 'Le prénom est invalide.' : 'Le prénom
                        est obligatoire.' }}
                    </div>
                </div>

                <!-- Type -->
                <div class="mb-2">
                    <label for="type" class="mb-1">Type</label>
                    <select id="type" class="input-field" formControlName="type">
                        <option value="boutique">Boutique</option>
                        <option value="restaurant">Restaurant</option>
                    </select>
                    <p *ngIf="error" class="text-danger">{{error.type}}</p>
                    <div *ngIf="PaternaireForm.get('type')?.invalid && PaternaireForm.get('type')?.touched"
                        class="text-danger">
                        {{ PaternaireForm.get('type')?.errors?.['invalid'] ? 'Le type est invalide.' : 'Le type est
                        obligatoire.' }}
                    </div>
                </div>

                <!-- Localisation -->
                <div class="mb-2">
                    <label for="localisation" class="mb-1">Localisation</label>
                    <input type="text" class="input-field" id="localisation" formControlName="localisation">
                    <p *ngIf="error" class="text-danger">{{error.localisation}}</p>
                    <div *ngIf="PaternaireForm.get('localisation')?.invalid && PaternaireForm.get('localisation')?.touched"
                        class="text-danger">
                        {{ PaternaireForm.get('localisation')?.errors?.['invalid'] ? 'La localisation est invalide.' : '
                        La localisation est obligatoire.' }}

                    </div>
                </div>

                <!-- Description -->
                <div class="mb-2">
                    <label for="description" class="mb-1">Description</label>
                    <input type="text" class="input-field" id="description" formControlName="description">
                    <p *ngIf="error" class="text-danger">{{error.description}}</p>
                    <div *ngIf="PaternaireForm.get('description')?.invalid && PaternaireForm.get('description')?.touched"
                        class="text-danger">
                        {{ PaternaireForm.get('description')?.errors?.['invalid'] ? 'La description est invalide.' : '
                        La description contient des caractères non autorisés.' }}

                    </div>
                </div>

                <!-- Email -->
                <div class="mb-2">
                    <label for="email" class="mb-1">Email</label>
                    <input type="email" class="input-field" id="email" formControlName="email">
                    <p *ngIf="error" class="text-danger">{{error.email}}</p>
                    <div *ngIf="PaternaireForm.get('email')?.invalid && PaternaireForm.get('email')?.touched"
                        class="text-danger">
                        {{ PaternaireForm.get('email')?.errors?.['invalid'] ? 'Veuillez entrer une adresse email
                        valide.' : 'L\'email est obligatoire.' }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Photo établissement -->
        <div class="mb-2">
            <label for="photoLivreur" class="mb-1">Photo Établissement</label>
            <input accept="image/*" name="image" (change)="addPhotoEtablissement($event)"
                class="form-control w-full py-1 inputPhoto" id="photoLivreur" type="file">
            <p *ngIf="error" class="text-danger">{{error.photoLivreur}}</p>
        </div>

        <!-- Boutons -->
        <div class="d-flex mt-5 justify-content-center">
            <button type="button" class="btn btnAnnuler me-2" (click)="closeModal()">Annuler</button>
            <button type="submit" class="btn btnSave" [disabled]="PaternaireForm.invalid">Enregistrer</button>
        </div>
    </form>
</p-dialog>

<!-- Modal modifier partenaire -->
<p-dialog [modal]="true" [(visible)]="visibleUpdateCommerce"
    [style]="{ width: '40rem', height:'20rem', backgroundColor: '#F8F9FD'}" header="Modifier partenaire">
    <form novalidate [formGroup]="PaternaireForm" #ngForm="ngForm" (ngSubmit)="modifierPartenaire()">
        <div class="contentInput">
            <div>
                <!-- Ninea -->
                <div class="mb-2">
                    <label for="ninea" class="mb-1">Ninea</label>
                    <input type="text" class="input-field" id="ninea" formControlName="ninea">
                    <p *ngIf="error" class="text-danger">{{error.ninea}}</p>
                    <div *ngIf="PaternaireForm.get('ninea')?.invalid && PaternaireForm.get('ninea')?.touched"
                        class="text-danger">
                        {{ PaternaireForm.get('ninea')?.errors?.['invalid'] ? 'Le NINEA doit contenir exactement 7 \n
                        chiffres.' : 'Le NINEA est obligatoire.' }}
                    </div>
                </div>
            </div>

            <div>
                <!-- Type -->
                <div class="mb-2">
                    <label for="type" class="mb-1">Type</label>
                    <select id="type" class="input-field" formControlName="type">
                        <option value="boutique">Boutique</option>
                        <option value="restaurant">Restaurant</option>
                    </select>
                    <p *ngIf="error" class="text-danger">{{error.type}}</p>
                    <div *ngIf="PaternaireForm.get('type')?.invalid && PaternaireForm.get('type')?.touched"
                        class="text-danger">
                        {{ PaternaireForm.get('type')?.errors?.['invalid'] ? 'Le type est invalide.' : 'Le type est \n
                        obligatoire.' }}
                    </div>
                </div>
            </div>
        </div>

        <!-- etat -->
        <div class="mb-2">
            <label for="etat" class="mb-1">Etat</label>
            <select id="etat" class="input-field" formControlName="etat">
                <option value="active">Active</option>
                <option value="attente">No active</option>
            </select>
        </div>


        <!-- Boutons -->
        <div class="d-flex mt-5 justify-content-center">
            <button type="button" class="btn btnAnnuler me-2" (click)="closeModal()">Annuler</button>
            <button type="submit" class="btn btnSave">Enregistrer</button>
        </div>
    </form>
</p-dialog>