.btn-filter filter {
    display: flex;
    gap: 15px;
    list-style: none;
}

.activ {
    color: rgb(255, 152, 33);
}

.filter {
    display: flex;
    gap: 12px;
    padding-bottom: 12px;
    flex-wrap: wrap;
}

.btn-filter button {
    background-color: transparent;
    padding: 5px 20px;
    border: 0.5px solid gray;
    border-radius: 5px;
    font-weight: 600;
}

.btn-filter button:hover {
    background-color: rgb(255, 152, 33);
    color: white;
    border: none;
}

.profil-noms {
    display: flex;
    gap: 12px;
    /* align-items: center; */
}

.profil-noms img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profil-noms p {
    color: rgb(136, 136, 136);
    font-size: 14px;
}

.card {
    padding: 5px;
}

.contenu-globalCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.prix {
    color: rgb(107, 201, 107);
}

@media screen and (max-width: 360px) {
    .prix h3 {
        font-size: 15px;
    }

    .profil-noms p {
        font-size: 13px;
    }
}

::ng-deep .paginationTacheCustom .p-paginator-page,
::ng-deep .paginationTacheCustom .p-paginator-next,
::ng-deep .paginationTacheCustom .p-paginator-prev,
::ng-deep .paginationTacheCustom .p-paginator-first,
::ng-deep .paginationTacheCustom .p-paginator-last {
    @apply bg-transparent text-black hover:bg-slate-200 rounded px-3 py-1 mx-1;
}

::ng-deep .paginationTacheCustom .p-paginator-page.p-highlight {
    background-color: var(--bg-primary);
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

::ng-deep .paginationTacheCustom .p-paginator {
    margin-top: 4%;
    margin-bottom: 4%;
    border-bottom: 0;
    background-color: transparent;
}

price{
    text-align: center;
    margin-top: -50px !important;
    padding-bottom: 10px;
}

.price p{
    color: rgb(153, 153, 153);
    font-size: 15px;
}

.dotted{
    border:  1px dotted black;
}

.total, .frais{
    display: flex;
    justify-content: space-between;
}

.soulignement{
    margin-top: -12px;
}

.frais h6{
    color: gray;
}

.avertissement{
    margin-top: 2.5rem;
}

.avertissement span {
    color: rgb(153, 75, 69);
    font-size: 13px;
    font-weight: 600;
    padding-left: 5px;
}