<div class="container  mt-3">
    <!-- le filtre -->
    <div class="btn-filter  mt-3">
        <div class="filter">
            <div><button class="activ">Aujourd'hui</button></div>
            <div><button>Week-end</button></div>
            <div><button>Mois</button></div>
            <div><button>Année</button></div>
        </div>
    </div>
    <!-- fin filtre -->

    <!-- les cartes -->
    <div class="row row-cols-1 mt-3 row-cols-md-2 g-4">
        <!-- ----------------------------------------------- -->
        <div class="col">
            <div class="card" (click)="showDialogDetailArticle()">
                <div class="contenu-globalCard">
                    <!-- contenu image et nom -->
                    <div class="profil-noms">
                        <div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6owNWwsp29Rd-HjwvZic5tSSjphYwkXO12g&s"
                                alt="" />
                        </div>
                        <div>
                            <strong>Ibrahima Sall</strong>
                            <p>22 Septembre 2022</p>
                        </div>
                    </div>
                    <!-- prix -->
                    <div class="prix">
                        <h3>5000.00FCA</h3>
                    </div>
                    <!-- FIN PRIX -->
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- ----------------------------------------------- -->
        <div class="col">
            <div class="card">
                <div class="contenu-globalCard">
                    <!-- contenu image et nom -->
                    <div class="profil-noms">
                        <div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6owNWwsp29Rd-HjwvZic5tSSjphYwkXO12g&s"
                                alt="" />
                        </div>
                        <div>
                            <strong>Ibrahima Sall</strong>
                            <p>22 Septembre 2022</p>
                        </div>
                    </div>
                    <!-- prix -->
                    <div class="prix">
                        <h3>5000.00FCA</h3>
                    </div>
                    <!-- FIN PRIX -->
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- ----------------------------------------------- -->
        <div class="col">
            <div class="card">
                <div class="contenu-globalCard">
                    <!-- contenu image et nom -->
                    <div class="profil-noms">
                        <div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6owNWwsp29Rd-HjwvZic5tSSjphYwkXO12g&s"
                                alt="" />
                        </div>
                        <div>
                            <strong>Ibrahima Sall</strong>
                            <p>22 Septembre 2022</p>
                        </div>
                    </div>
                    <!-- prix -->
                    <div class="prix">
                        <h3>5000.00FCA</h3>
                    </div>
                    <!-- FIN PRIX -->
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- ----------------------------------------------- -->
        <div class="col">
            <div class="card">
                <div class="contenu-globalCard">
                    <!-- contenu image et nom -->
                    <div class="profil-noms">
                        <div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6owNWwsp29Rd-HjwvZic5tSSjphYwkXO12g&s"
                                alt="" />
                        </div>
                        <div>
                            <strong>Ibrahima Sall</strong>
                            <p>22 Septembre 2022</p>
                        </div>
                    </div>
                    <!-- prix -->
                    <div class="prix">
                        <h3>5000.00FCA</h3>
                    </div>
                    <!-- FIN PRIX -->
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- ----------------------------------------------- -->
        <div class="col">
            <div class="card">
                <div class="contenu-globalCard">
                    <!-- contenu image et nom -->
                    <div class="profil-noms">
                        <div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6owNWwsp29Rd-HjwvZic5tSSjphYwkXO12g&s"
                                alt="" />
                        </div>
                        <div>
                            <strong>Ibrahima Sall</strong>
                            <p>22 Septembre 2022</p>
                        </div>
                    </div>
                    <!-- prix -->
                    <div class="prix">
                        <h3>5000.00FCA</h3>
                    </div>
                    <!-- FIN PRIX -->
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- ----------------------------------------------- -->
        <div class="col">
            <div class="card">
                <div class="contenu-globalCard">
                    <!-- contenu image et nom -->
                    <div class="profil-noms">
                        <div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6owNWwsp29Rd-HjwvZic5tSSjphYwkXO12g&s"
                                alt="" />
                        </div>
                        <div>
                            <strong>Ibrahima Sall</strong>
                            <p>22 Septembre 2022</p>
                        </div>
                    </div>
                    <!-- prix -->
                    <div class="prix">
                        <h3>5000.00FCA</h3>
                    </div>
                    <!-- FIN PRIX -->
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- ----------------------------------------------- -->
        <div class="col">
            <div class="card">
                <div class="contenu-globalCard">
                    <!-- contenu image et nom -->
                    <div class="profil-noms">
                        <div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6owNWwsp29Rd-HjwvZic5tSSjphYwkXO12g&s"
                                alt="" />
                        </div>
                        <div>
                            <strong>Ibrahima Sall</strong>
                            <p>22 Septembre 2022</p>
                        </div>
                    </div>
                    <!-- prix -->
                    <div class="prix">
                        <h3>5000.00FCA</h3>
                    </div>
                    <!-- FIN PRIX -->
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- ----------------------------------------------- -->
        <div class="col">
            <div class="card">
                <div class="contenu-globalCard">
                    <!-- contenu image et nom -->
                    <div class="profil-noms">
                        <div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6owNWwsp29Rd-HjwvZic5tSSjphYwkXO12g&s"
                                alt="" />
                        </div>
                        <div>
                            <strong>Ibrahima Sall</strong>
                            <p>22 Septembre 2022</p>
                        </div>
                    </div>
                    <!-- prix -->
                    <div class="prix">
                        <h3>5000.00FCA</h3>
                    </div>
                    <!-- FIN PRIX -->
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
    </div>
    <!-- fin des cartes -->
    <!-- Pagination -->
    <div class="pagination mt-5 d-flex justify-content-center">
        <div>
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="3" [totalRecords]="6"
                class="paginator" [styleClass]="'paginationTacheCustom'" [rowsPerPageOptions]="[3, 6, 9]">
            </p-paginator>
        </div>
    </div>
</div>

<!--Modal details article -->
<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '35rem', height:'35rem', backgroundColor: '#F8F9FD'}"
    header="details Paiement">
    <!------------------------- contenu popup -->
    <div class="price">
        <p>Montant reçu</p>
        <h3>5000</h3>
    </div>
    <!-- fin contenu -->
    <hr class="dotted">
    <br>
    <!-- details transaction -->
    <div class="detail">
        <h6>Détails transaction</h6>
        <div class="total">
            <div>
                <p>Total transferé</p>
            </div>
            <div>
                <h6>5000</h6>
            </div>
        </div>
        <hr class="soulignement">
        <div class="frais">
            <div>
                <p>Frais</p>
            </div>
            <div>
                <h6>50</h6>
            </div>
        </div>
        <hr class="soulignement">
        <div class="frais">
            <div>
                <p>Total transferé</p>
            </div>
            <div>
                <h6>5050</h6>
            </div>
        </div>
        <br>
    </div>

    <div class="avertissement">
        <span><i class="bi bi-exclamation-circle"></i></span>
        <span>Aucune réclamation n'est prise en compte aprés 48h</span>
    </div>

    <!-- fin contenu popup -->
</p-dialog>