<div class="container  mt-3">
    <!-- le filtre -->
    <div class="title mb-4 mt-5">
        <h3>Listes des Gains</h3>
    </div>
    <!-- fin filtre -->

    <!-- les cartes -->
    <div class="row row-cols-1 mt-3 row-cols-md-2 g-4">
        <!-- ----------------------------------------------- -->
        @if (gaingainsApproveds?.length) {
        <div class="col" *ngFor="let gain of getPaginatedPartners()">
            <div class="card">
                <div class="contenu-globalCard">
                    <!-- contenu image et nom -->
                    <div class="profil-noms">
                        <div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6owNWwsp29Rd-HjwvZic5tSSjphYwkXO12g&s"
                                alt="" />
                        </div>
                        <div>
                            <strong>{{gain.livreur.firstName}} {{gain.livreur.lastName}}</strong>
                            <p>{{gain.created_at | date:'d MMMM yyyy'}}</p>
                            <div class="avertissement">
                                <span><i class="bi bi-exclamation-circle"></i></span>
                                <span>Aucune réclamation n'est prise en compte aprés 48h</span>
                            </div>
                        </div>
                    </div>
                    <!-- prix -->
                    <div class="prix">
                        <h3>{{gain.amount}} </h3>
                    </div>
                    <!-- FIN PRIX -->
                </div>
            </div>
        </div>
        }
        @else {
        <p class="text-center fs-5 fw-bold">Aucun gain enregistré pour le moment </p>
        }
        <!-- -------------------------------------------------------------- -->

    </div>
    <!-- fin des cartes -->
    <!-- Pagination -->
    <div class="pagination mt-5 d-flex justify-content-center">
        <div>
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="6"
                [totalRecords]="gaingainsApproveds?.length" class="paginator" [styleClass]="'paginationTacheCustom'"
                [rowsPerPageOptions]="[6, 9, 12]">
            </p-paginator>
        </div>
    </div>
</div>