<div class="wrapper m-0 d-flex">
  <div class="sidebar p-0" [ngClass]="{'collapsed': !isSidebarVisible}">
    <aside>
      <div class="logoWrapper mt-2">
        <div class="logo">
          <img *ngIf="!isSidebarVisible"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4NshHKqzTaToj0GKFn40reOu7doky-WRtXA&s"
            alt="logo">
          <!-- <img   *ngIf="!isSidebarVisible" src="../../../../assets/logo/logo.png" alt="logo"> -->
          <strong class="text-center mx-2 titreLogo" *ngIf="isSidebarVisible">Kicos<span>Express</span> </strong>
        </div>
      </div>
      <nav>
        <ul class="navItem">
          @for (item of menus; track $index) {
          <a routerLink="{{ item.route }}" routerLinkActive="ActiveMenu" [routerLinkActiveOptions]="{ exact: true }">
            <li><i [class]="item.icon"></i><span *ngIf="isSidebarVisible">{{ item.title }}</span></li>
          </a>
          }
        </ul>
      </nav>
    </aside>
  </div>

  <main class="main" [ngClass]="{'expanded': !isSidebarVisible}">
    <header class="border d-flex align-items-center">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div class="d-flex align-items-center">
          <span class="menu-burger" (click)="toggleSidebar()">
            <i class="bi bi-list"></i>
          </span>
          <p class="px-2 m-0 font-medium nomBoutique">{{userInfo.role}}</p>
        </div>
        <div class="d-flex align-items-center">
          <ul class="d-flex p-0 m-0 align-items-center headerIcon">
            <div class="notification-wrapper"  *ngIf="userInfo.role=='livreur'">
              <div class="notification-bell" (click)="toggleNotifications()">
                <i class="pi pi-bell"></i>
                <span *ngIf="hasNewNotifications" class="notification-badge"></span>
              </div>

              <div class="notification-panel" *ngIf="isNotificationOpen">
                <div class="notification-header">
                  <div class="header-text">Nouveau commande</div>
                  <div class="notification-count" *ngIf="notifications.length > 0">
                    {{notifications.length}}
                  </div>
                </div>

                <div class="notification-list">
                  <div class="notification-item" *ngFor="let notif of notificationlist">
                    <div class="notification-content">
                      <div class="notification-image">
                        <!-- <img [src]="notif.image" [alt]="notif.name" onerror="this.src='assets/default-avatar.png'" /> -->
                      </div>
                      <div class="notification-details">
                        <h5>{{notif.data.nom_client}}</h5>
                        <!-- <span class="time">{{notif.time}}</span> -->
                        <p class="address">Adresse de livraison: {{notif.data.adresse_delivery}}</p>
                        <div class="action-buttons">
                          <button class="accept-btn" (click)="acceptNotification(notif.id)">
                            Accepter
                          </button>
                          <button class="reject-btn" (click)="rejectNotification(notif.id)">
                            Rejeter
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="no-notifications" *ngIf="notifications.length === 0">
                    Aucune notification
                  </div>
                </div>
              </div>
            </div>
            <li class="mx-2">
              <div class="relative group dropdown">
                <div class="flex items-center border-0 rounded-t-lg py-1 px-2 dropdown-toggle" type="button"
                  data-bs-toggle="dropdown">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjuDuz1yFx58viL_nbKYZUeyU6GC6Cp7tr7A&s" class="photoUser">
                  {{userInfo.firstName}} {{userInfo.lastName}}
                </div>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item text-pointer" (click)="logout()">Se déconnecter</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div class="mainContainer">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>





<!-- Sidebar wrapper -->
<div class="sidebarWrapper" [ngClass]="{'show-sidebar': !isSidebarVisible, 'hide-sidebar': isSidebarVisible}">
  <div class="logoWrapper">
    <div class="logoSide d-flex justify-content-center">
      <img *ngIf="!isSidebarVisible"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4NshHKqzTaToj0GKFn40reOu7doky-WRtXA&s" alt="logo">
    </div>
    <span class="text-pointer closeSidebar" (click)="toggleSidebar()">
      <i class="bi bi-x-circle"></i>
    </span>
  </div>
  <nav>
    <ul class="navItemBar">
      @for (item of menus; track $index) {
      <a class="text-white text-decoration-none" routerLink="{{ item.route }}" routerLinkActive="ActiveMenu"
        [routerLinkActiveOptions]="{ exact: true }" (click)="closeSidebar()">
        <li class="list-unstyled font-weight-bold"><i [class]="item.icon" class="mx-2"></i>{{ item.title }}</li>
      </a>
      }
    </ul>
  </nav>
</div>