<div class="container">
    <div class="profile-header">
        <h1>Mon Profil</h1>
    </div>

    <div class="profile-section">
        <h2 class="section-title">Photo de Profil</h2>

        <div class="profile-image-section">
            <div class="profile-image-container">
                <img class="profile-image" src="https://kiccos.terangacode.com/public/{{profilLivreur?.partenaire.image_url}}" alt="Photo de profil"
                    id="profileImagePreview">
            </div>
        </div>
    </div>

    <div class="profile-section">
        <h2 class="section-title">Informations Personnelles</h2>
        <div class="form-row">
            <div class="form-column">
                <div class="form-group">
                    <label for="firstName">Prénom</label>
                    <input type="text" id="firstName" value="{{profilLivreur?.firstName}}">
                </div>
            </div>
            <div class="form-column">
                <div class="form-group">
                    <label for="lastName">Nom</label>
                    <input type="text" id="lastName" value="{{profilLivreur?.lastName}}">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" value="{{profilLivreur?.email}}">
        </div>

        <div class="form-group">
            <label for="phoneNumber">Téléphone</label>
            <input type="tel" id="phoneNumber" value="{{profilLivreur?.phoneNumber}}" disabled>
        </div>

        <div class="form-group">
            <label for="role">Rôle</label>
            <input type="text" id="role" value="{{profilLivreur?.role}}" disabled>
        </div>

        <div class="action-links mb-4" data-bs-toggle="modal" data-bs-target="#profil">Modifier mon mot de passe</div>
        <button class="btn" (click)="modifierProfilLivreur()">Enregistrer les modifications</button>
    </div>

    <div class="profile-section">
        <h2 class="section-title">Informations Supplémentaire</h2>

        <div class="form-group">
            <label for="avatar">Avatar</label>
            <input type="file" id="avatar" accept="image/*" (change)="onFileSelected($event)">
        </div>

        <div class="form-group">
            <label for="nom_partenaire">Nom du Restaurant</label>
            <input type="text" id="nom_partenaire" value="{{profilLivreur?.partenaire.nom_partenaire}}">
        </div>

        <div class="form-group">
            <label for="horaire">Horaires</label>
            <input type="text" id="horaire" value="{{profilLivreur?.partenaire.horaire}}">
        </div>

        <div class="form-group">
            <label for="localisation">Localisation</label>
            <input type="text" id="localisation" value="{{profilLivreur?.partenaire.localisation}}">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" rows="3"
                class="form-control">{{profilLivreur?.partenaire.description}}</textarea>
        </div>

        <button class="btn" (click)="modifierInformationsRestaurant()">Enregistrer les modifications</button>
    </div>
</div>

<!-- Modal pour changer le mot de passe -->
<div class="modal fade" id="profil" tabindex="-1" aria-labelledby="profilLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="profilLabel">Modifier mon mot de passe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="current_password">Mot de passe actuel</label>
                    <input [type]="showPassword ? 'text' : 'password'" id="current_password">
                    <button type="button" (click)="togglePassword()" class="iconEye">
                        <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                    </button>
                </div>

                <div class="form-group">
                    <label for="new_password">Nouveau mot de passe</label>
                    <input [type]="showPassword ? 'text' : 'password'" id="new_password">
                    <button type="button" (click)="togglePassword()" class="iconEye">
                        <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                    </button>
                </div>

                <div class="form-group">
                    <label for="new_password_confirmation">Confirmer le mot de passe</label>
                    <input [type]="showPassword ? 'text' : 'password'" id="new_password_confirmation">
                    <button type="button" (click)="togglePassword()" class="iconEye">
                        <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue" (click)="modifierPassword()">Valider</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>