<div class="p-0">

    <!-- cartes des statistiques  -->
    <div class="mx-2">
        <div class="row g-3"> <!-- g-3 ajoute un espace entre les colonnes -->
            <div class="col-md-4 col-sm-12">
                <div class="card rounded shadow p-0">
                    <div class="mx-3 mt-3">
                        <div class="d-flex justify-content-between">
                            <span class="fw-medium">Partenaires</span>
                            <span class="iconRounded B">
                               <i class="pi pi-shop" style="color: var(--bg-neutral);"></i>
                            </span>
                        </div>
                        <p class="mt-2">320</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card rounded shadow p-0">
                    <div class="mx-3 mt-3">
                        <div class="d-flex justify-content-between">
                            <span class="fw-medium">Livreurs</span>
                            <span class="iconRounded A">
                                <i class="pi pi-user" style="color: var(--bg-neutral);"></i>
                            </span>
                        </div>
                        <p class="mt-2">245</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card rounded shadow p-0">
                    <div class="mx-3 mt-3">
                        <div class="d-flex justify-content-between">
                            <span class="fw-medium">Utilisateurs</span>
                            <span class="iconRounded card2">
                                <i class="pi pi-users" style="color: var(--bg-neutral);"></i>
                            </span>
                        </div>
                        <p class="mt-2">329</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Diagramme Paiement recu par mois -->
    <div class="my-4 mx-2 py-4 px-2 card shadow p-2">
        <span class="font-medium text-color">Paiement recu par mois</span>
        <p-chart type="bar" [data]="dataCategogrie" [options]="optionsCategogrie" />
    </div>


 


</div>