<!-- dashboard.component.html -->
<div class="dashboard">
    <div class="stats-container">
        <div class="stat-card">
            <div class="stat-header">
                <h3>Commandes total</h3>
                <span class="icon"><i class="pi pi-shopping-cart"></i></span>
            </div>
            <div class="stat-value">{{nombreTotalCommande}}</div>
        </div>

        <div class="stat-card">
            <div class="stat-header">
                <h3>Commandes en attente</h3>
                <span class="icon"><i class="pi pi-dollar"></i></span>
            </div>
            <div class="stat-value">{{nombreCommandesPending}}</div>
        </div>

        <div class="stat-card">
            <div class="stat-header">
                <h3>Commandes annuler</h3>
                <span class="icon"><i class="pi pi-users"></i></span>
            </div>
            <div class="stat-value">{{nombreCommandescancelled}}</div>
        </div>
    </div>

    <div class="stats-container">
        <div class="stat-card">
            <div class="stat-header">
                <h3>Commandes confirmée</h3>
                <span class="icon"><i class="pi pi-shopping-cart"></i></span>
            </div>
            <div class="stat-value">{{nombreCommandesconfirmed}}</div>
        </div>

        <div class="stat-card">
            <div class="stat-header">
                <h3>Commandes en cours</h3>
                <span class="icon"><i class="pi pi-dollar"></i></span>
            </div>
            <div class="stat-value">{{nombreCommandesprocessing}}</div>
        </div>

        <div class="stat-card">
            <div class="stat-header">
                <h3>Commandes livrer</h3>
                <span class="icon"><i class="pi pi-users"></i></span>
            </div>
            <div class="stat-value">{{nombreCommandesshipped}}</div>
        </div>
    </div>


    <div class="secondContainer">
        <div class="chart-container">
            <h2>Evolution des ventes</h2>
            <p-chart type="bar" [data]="chartData" [options]="chartOptions"
                [style]="{ 'width': '100%', 'height': '100%' }">
            </p-chart>
        </div>

        <div class="gauge-card">
            <h2>Montant Reçu</h2>
            <div class="gauge-container">
              <p-chart type="doughnut" [data]="gaugeData" [options]="gaugeOptions"
                [style]="{'width': '100%', 'height': '100%'}">
              </p-chart>
              <div class="gauge-value">
                <span class="money-label">Votre argent</span>
                <span class="money-value">25,430.39F CFA</span>
              </div>
            </div>
          </div>
    </div>
</div>