<div class="container">
    <!-- recherche et ajout -->
    <div class="search-add">
        <div class="srch">
            <input type="text" placeholder="recherchez ici ..." />
        </div>
        <div class="add" (click)="showDialogAddArticle()">
            <button class="btn btnValidate"><i class="bi bi-plus">Ajouter</i></button>
        </div>
    </div>
    <!-- fin -->

    <!-- filtre -->
    <div class="filtre-produit">
        <div class="title">
            <h3>Liste des produits</h3>
        </div>
        <div class="filtre">
            <span><a href="#" class="first">Tous</a></span>
            <span><a href="#">Produits laitiers</a></span>
            <span><a href="#">Fruits & Légumes</a></span>
            <span><a href="#">Café & Thé</a></span>
            <span><a href="#">Viandes</a></span>
        </div>
    </div>
    <!-- fin -->
    <!-- les cartes -->
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="new">New</div>
                <div class="img">
                    <img src="https://img.freepik.com/photos-gratuite/legumes_1398-810.jpg?ga=GA1.1.112979598.1725359040&semt=ais_hybrid"
                        alt="" />
                </div>
                <div class="description">
                    <p class="categorie">Végétal</p>
                    <p class="nom">Panier légume</p>
                </div>
                <div class="price-detail">
                    <div class="price">
                        <p>10.900 fcfa</p>
                    </div>
                    <div class="detail" routerLink="/kicos/commerce/detailArticle">
                        <button>Détail</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------- -->
        <div class="col">
            <div class="card h-100">
                <div class="Promo">-10%</div>
                <div class="img">
                    <img src="https://img.freepik.com/photos-gratuite/legumes_1398-810.jpg?ga=GA1.1.112979598.1725359040&semt=ais_hybrid"
                        alt="" />
                </div>
                <div class="description">
                    <p class="categorie">Végétal</p>
                    <p class="nom">Panier légume</p>
                </div>
                <div class="price-detail">
                    <div class="price">
                        <p>10.900 fcfa</p>
                    </div>
                    <div class="detail">
                        <button>Détail</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------- -->
        <div class="col">
            <div class="card h-100">
                <div class="new">New</div>
                <div class="img">
                    <img src="https://img.freepik.com/photos-premium/divers-legumes-dans-panier-osier-isoler-blanc-aliments-frais_194646-2141.jpg?w=826"
                        alt="" />
                </div>
                <div class="description">
                    <p class="categorie">Végétal</p>
                    <p class="nom">Panier légume</p>
                </div>
                <div class="price-detail">
                    <div class="price">
                        <p>10.900 fcfa</p>
                    </div>
                    <div class="detail">
                        <button>Détail</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------- -->
        <div class="col">
            <div class="card h-100">
                <div class="Promo">-20%</div>
                <div class="img">
                    <img src="https://img.freepik.com/photos-gratuite/legumes_1398-810.jpg?ga=GA1.1.112979598.1725359040&semt=ais_hybrid"
                        alt="" />
                </div>
                <div class="description">
                    <p class="categorie">Végétal</p>
                    <p class="nom">Panier légume</p>
                </div>
                <div class="price-detail">
                    <div class="price">
                        <p>10.900 fcfa</p>
                    </div>
                    <div class="detail">
                        <button>Détail</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------- -->
        <div class="col">
            <div class="card h-100">
                <div class="new">New</div>
                <div class="img">
                    <img src="https://img.freepik.com/photos-premium/divers-legumes-dans-panier-osier-isoler-blanc-aliments-frais_194646-2141.jpg?w=826"
                        alt="" />
                </div>
                <div class="description">
                    <p class="categorie">Végétal</p>
                    <p class="nom">Panier légume</p>
                </div>
                <div class="price-detail">
                    <div class="price">
                        <p>10.900 fcfa</p>
                    </div>
                    <div class="detail">
                        <button>Détail</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------- -->
        <div class="col">
            <div class="card h-100">
                <div class="Promo">-10%</div>
                <div class="img">
                    <img src="https://img.freepik.com/photos-gratuite/legumes_1398-810.jpg?ga=GA1.1.112979598.1725359040&semt=ais_hybrid"
                        alt="" />
                </div>
                <div class="description">
                    <p class="categorie">Végétal</p>
                    <p class="nom">Panier légume</p>
                </div>
                <div class="price-detail">
                    <div class="price">
                        <p>10.900 fcfa</p>
                    </div>
                    <div class="detail">
                        <button>Détail</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------- -->
        <div class="col">
            <div class="card h-100">
                <div class="new">New</div>
                <div class="img">
                    <img src="https://img.freepik.com/photos-premium/divers-legumes-dans-panier-osier-isoler-blanc-aliments-frais_194646-2141.jpg?w=826"
                        alt="" />
                </div>
                <div class="description">
                    <p class="categorie">Végétal</p>
                    <p class="nom">Panier légume</p>
                </div>
                <div class="price-detail">
                    <div class="price">
                        <p>10.900 fcfa</p>
                    </div>
                    <div class="detail">
                        <button>Détail</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------- -->
        <div class="col">
            <div class="card h-100">
                <div class="Promo">-25%</div>
                <div class="img">
                    <img src="https://img.freepik.com/photos-gratuite/legumes_1398-810.jpg?ga=GA1.1.112979598.1725359040&semt=ais_hybrid"
                        alt="" />
                </div>
                <div class="description">
                    <p class="categorie">Végétal</p>
                    <p class="nom">Panier légume</p>
                </div>
                <div class="price-detail">
                    <div class="price">
                        <p>10.900 fcfa</p>
                    </div>
                    <div class="detail">
                        <button>Détail</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------- -->
    </div>
    <!-- Pagination -->
    <div class="pagination mt-5 d-flex justify-content-center">
        <div>
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="3" [totalRecords]="6"
                class="paginator" [styleClass]="'paginationTacheCustom'" [rowsPerPageOptions]="[3, 6, 9]">
            </p-paginator>
        </div>
    </div>
</div>



<!-- Modal ajout article -->
<p-dialog [modal]="true" [(visible)]="visibleAddArticle"
    [style]="{ width: '60rem', height:'50rem', backgroundColor: '#F8F9FD'}" header="Ajout Article">
    <form>
        <div class="">
            <div class="">
                <!-- Nom  -->
                <div class="mb-3">
                    <label class="mb-1" for="name">Nom </label>
                    <input id="name" type="text" class="input-field">
                </div>

                <!-- Prix d’achat -->
                <div class="mb-3">
                    <label for="prix_achat" class="mb-1">Prix d’achat</label>
                    <input type="tel" class="input-field" id="prix_achat">
                </div>

                <!-- Photo article-->
                <div class="mb-3 ">
                    <label for="photoArticle" class="mb-1">Photo</label>
                    <input accept="image/*" name="photo_Article" class=" form-control w-full py-1 inputPhoto"
                        id="photoArticle" type="file">
                </div>

                <!-- Categorie -->
                <div class="mb-3">
                    <label for="address" class="mb-1">Catégorie</label>
                    <select name="" id=""  class=" form-control w-full py-1 inputPhoto">
                    <!-- Liste déroulante avec les catégories -->
                     <option>Sélectionnez un catégorie</option>
                     <option value="">Fruit et legumes</option>
                     <option value="">Produit alimentaire</option>
                     <option value="">Produit de beurre</option>
                    </select>
                </div>

                <!-- description -->
                <div class="mb-3">
                    <label for="description" class="mb-1">Description</label>
                    <input id="description" type="text" class="input-field">
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" class="btn btnAnnuler me-2" (click)="closeModal()">Annuler</button>
            <button type="submit" class="btn btnSave">Enregistrer</button>
        </div>
    </form>
</p-dialog>