<i class="pi pi-arrow-left mb-3" routerLink="/kicos/commerce/articles" style="cursor: pointer;"></i>
<p-tabView>
  <p-tabPanel header="Général">
    <div id="details">
      <div class="image">
        <img src="https://kiccos.terangacode.com/{{detailArticle?.articleImage}}" class="card-img-top" alt="..." />
      </div>
      <div>
        <h4>{{detailArticle?.articleName}}</h4>
        <p>
          {{detailArticle?.articleDescription}}
        </p>

        <div class="d-flex">
          <h6 class="mb-3">Prix d’achat : </h6>
          <span>&nbsp;{{detailArticle?.articlePrice}}</span>
        </div>
        <div class="d-flex" style="color: var(--bg-primary);">
          <h6 class="mb-3">Catégorie : </h6>
          <span>&nbsp;Fruits & Légumes</span>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Promo">
    <div id="avis">
      <form class="promo-form">
        <div class="form-grid">
          <div class="form-group mb-3">
            <label for="product">Produit</label>
            <input type="text" id="product" class="form-control">
          </div>
          
          <div class="form-group mb-3">
            <label for="discount">Réduction (%)</label>
            <input type="number" id="discount" class="form-control">
          </div>
          
          <div class="form-group mb-3">
            <label for="startDate">Date début</label>
            <input type="date" id="startDate" class="form-control">
          </div>
          
          <div class="form-group mb-3">
            <label for="endDate">Date fin</label>
            <input type="date" id="endDate" class="form-control">
          </div>
          
          <div class="form-group mb-3">
            <button type="submit" class="btn btnSave">Sauvegarder</button>
          </div>
        </div>
      </form>
      <div class="promo-list">
        <table class="table">
          <thead>
            <tr class="text-center">
              <th>Produit</th>
              <th>Réduction</th>
              <th>Durée</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Nom </th>
              <td>20%</td>
              <td>01/01/2024 - 31/01/2024</td>
              <td>
                <button class="btn btnSave me-2">Modifier</button>
                <button class="btn btnAnnuler">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Avis">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <!-- ----- -->
        <div class="col">
          <div class="card">
            <div class="profil">
              <div class="imgg">
                <img src="https://attic.sh/r94g35gv5a2kly2o8rofnauj6qi1" alt="" />
              </div>
              <div class="name">
                <h6>Wade warren</h6>
                <p>colleage</p>
              </div>
            </div>
            <div class="contenu-msg">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                quia sequi sint, voluptatibus sed labore aperiam vitae hic
                beatae architecto laudantium qui veritatis alias amet corporis
                odit autem perferendis nulla.
              </p>
            </div>
          </div>
        </div>
        <!-- ------ -->
        <div class="col">
          <div class="card">
            <div class="profil">
              <div class="imgg">
                <img src="https://attic.sh/r94g35gv5a2kly2o8rofnauj6qi1" alt="" />
              </div>
              <div class="name">
                <h6>Wade warren</h6>
                <p>colleage</p>
              </div>
            </div>
            <div class="contenu-msg">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                quia sequi sint, voluptatibus sed labore aperiam vitae hic
                beatae architecto laudantium qui veritatis alias amet corporis
                odit autem perferendis nulla.
              </p>
            </div>
          </div>
        </div>
        <!-- ------ -->
        <div class="col">
          <div class="card">
            <div class="profil">
              <div class="imgg">
                <img src="https://attic.sh/r94g35gv5a2kly2o8rofnauj6qi1" alt="" />
              </div>
              <div class="name">
                <h6>Wade warren</h6>
                <p>colleage</p>
              </div>
            </div>
            <div class="contenu-msg">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                quia sequi sint, voluptatibus sed labore aperiam vitae hic
                beatae architecto laudantium qui veritatis alias amet corporis
                odit autem perferendis nulla.
              </p>
            </div>
          </div>
        </div>
        <!-- ------ -->
        <div class="col">
          <div class="card">
            <div class="profil">
              <div class="imgg">
                <img src="https://attic.sh/r94g35gv5a2kly2o8rofnauj6qi1" alt="" />
              </div>
              <div class="name">
                <h6>Wade warren</h6>
                <p>colleage</p>
              </div>
            </div>
            <div class="contenu-msg">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                quia sequi sint, voluptatibus sed labore aperiam vitae hic
                beatae architecto laudantium qui veritatis alias amet corporis
                odit autem perferendis nulla.
              </p>
            </div>
          </div>
        </div>
        <!-- ------ -->
        <div class="col">
          <div class="card">
            <div class="profil">
              <div class="imgg">
                <img src="https://attic.sh/r94g35gv5a2kly2o8rofnauj6qi1" alt="" />
              </div>
              <div class="name">
                <h6>Wade warren</h6>
                <p>colleage</p>
              </div>
            </div>
            <div class="contenu-msg">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                quia sequi sint, voluptatibus sed labore aperiam vitae hic
                beatae architecto laudantium qui veritatis alias amet corporis
                odit autem perferendis nulla.
              </p>
            </div>
          </div>
        </div>
        <!-- ------ -->
        <div class="col">
          <div class="card">
            <div class="profil">
              <div class="imgg">
                <img src="https://attic.sh/r94g35gv5a2kly2o8rofnauj6qi1" alt="" />
              </div>
              <div class="name">
                <h6>Wade warren</h6>
                <p>colleage</p>
              </div>
            </div>
            <div class="contenu-msg">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                quia sequi sint, voluptatibus sed labore aperiam vitae hic
                beatae architecto laudantium qui veritatis alias amet corporis
                odit autem perferendis nulla.
              </p>
            </div>
          </div>
        </div>
        <!-- ------ -->
      </div>
      <!-- Pagination -->
      <div class="pagination mt-5 d-flex justify-content-center">
        <div>
          <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="3" [totalRecords]="6"
            class="paginator" [styleClass]="'paginationTacheCustom'" [rowsPerPageOptions]="[3, 6, 9]">
          </p-paginator>
        </div>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>