
<!-- Contenu commande -->
<div class="card border-0 p-4">
    <!-- Titre, recherche et ajout  -->
    <div class="d-flex justify-content-between mb-3">
        <h5 class="fw-bold">Liste des commandes </h5>
        <div class="search-and d-flex justify-content-between">
            <!-- Input de recherche  -->
            <div class="me-3">
                <div class="input-group">
                    <span class="input-group-text border inputSearch" id="inputGroup-sizing-sm"
                        style="background-color: transparent;">
                        <i class="pi pi-search"></i>
                    </span>
                    <input type="search" class="inputSearch form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" [(ngModel)]="searchText" (input)="onSearch()" placeholder="Rechercher">
                </div>
            </div>
        </div>
    </div>
@if (isLoading) {
  <!-- Skeleton pendant le chargement -->
  <div class="row ">
    <!-- Skeleton pour le titre -->
    <p-skeleton width="100%" height="1.5rem" class="mb-2"></p-skeleton><br>
    <!-- Skeleton pour la description -->
    <p-skeleton width="100%" height="0.6rem" class="mb-2 mt-2"></p-skeleton>
    <p-skeleton width="100%" height="0.6rem" class="mb-2 mt-2"></p-skeleton>
    <p-skeleton width="100%" height="0.6rem" class="mb-2 mt-2"></p-skeleton>
    <p-skeleton width="100%" height="0.6rem" class="mb-2 mt-2"></p-skeleton>
  </div>

  } @else {
    <!-- Liste des commandes  -->
    @if (listecommandes.length) {
    <p-table [value]="listecommandes" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem'}"
        [styleClass]="'paginationTacheCustom'" [rowsPerPageOptions]="[4, 5, 10, 15]">
        <ng-template pTemplate="header">
            <tr class="text-center py-2">
                <th class="">#</th>
                <th class="">client </th>
                <th class="">Reference </th>
                <!-- <th class="">quantite</th> -->
                <th class="">etat</th>
                <!-- <th class="">etablissement</th> -->
                <th class="">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-commande let-index="rowIndex" class="">
            <tr class="py-4">
                <td class="text-center text-xs px-3 tdimg" style="width: 10%;">{{index + 1}}</td>
                <td class="text-center text-xs px-3" style="width: 20%;">{{ commande.client_name}}</td>
                <td class="text-center text-xs px-3" style="width: 20%;">{{ commande.reference}}</td>
                <!-- <td class="text-center text-xs" style="width: 15%;">{{ commande.panier.articles.length}}</td> -->
                <td class="text-center text-xs" style="width: 15%;">{{ commande.status}}</td>
                <!-- <td class="text-center text-xs" style="width: 20%;">{{ commande.etablissement}}</td> -->
                <td class="text-center text-xs" style="width: 15%;" (click)="showDialog();detailCommande(commande.id)">
                    <i class="pi pi-eye me-3" style="font-size: 1rem; cursor: pointer;"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
    }
    @else {
    <p class="text-center fs-5 fw-bold">Aucun commande enregistré pour le moment </p>
    }}
</div>

<p-dialog header="Détail Commande" [modal]="true" [(visible)]="visible"
    [style]="{ width: '60rem', height:'50rem', backgroundColor: '#F8F9FD'}">
    <div class=" card cardDetail">
        <h2>Informations commande</h2>
        <div class="grid">
            <div class="info-group">
                <span class="label">Réference</span>
                <div class="value">{{detailcommande?.reference}}</div>
            </div>
            <div class="info-group">
                <span class="label">Utilisateur</span>
                <div class="value">{{detailcommande?.client_name}}</div>
            </div>
            <div class="info-group">
                <span class="label">Status</span>
                <div class="value">{{detailcommande?.status}}</div>
            </div>
            <div class="info-group">
                <span class="label">Montant</span>
                <div class="value">{{detailcommande?.price}}FCFA</div>
            </div>
            <div class="info-group">
                <span class="label">Nombre articles</span>
                <div class="value">{{detailcommande?.panier.articles.length}}</div>
            </div>
        </div>
    </div>

    <div class=" card cardDetail">
        <h2>Liste des articles de la commade</h2>
        <div class="grid" *ngFor="let article of  articletab">
            <div class="info-group">
                <span class="label">Image</span>
                <div class="value"><img src="{{article.article.image}}"  [alt]="article.article.name"></div>
            </div>
            <div class="info-group">
                <span class="label">Nom article</span>
                <div class="value">{{article.article.name}}</div>
            </div>
            <div class="info-group">
                <span class="label">Quantité</span>
                <div class="value">{{article.quantity}}</div>
            </div>
        </div>
    </div>
</p-dialog>